.home-newsletter {
  text-align: center;
  background-color: var(--main-bg-color);
  width: 70rem;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: 4px;
  color: white;
  max-width: 100%;
}

.home-newsletter-form h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.home-newsletter-form p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.home-newsletter-input {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.home-newsletter-input input {
  border: 1px solid transparent;
  padding: 1rem 2rem;
  width: 35rem;
  border-radius: 4px;
  font: inherit;
}

.home-newsletter-input input:focus {
  outline: none;
  border: 1px solid var(--border-color);
}

@media only screen and (max-width: 768px) {
  .home-newsletter-form h1 {
    font-size: 2rem;
  }
  .home-newsletter-form p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .home-newsletter {
    margin: 5rem auto;
  }
  .home-newsletter-form h1 {
    font-size: 2rem;
  }
  .home-newsletter-form p {
    font-size: 1.5rem;
  }
  .home-newsletter-input input {
    width: 100%;
  }
  .home-newsletter-input button {
    margin-top: 2rem;
  }
}
