.setting {
  display: inline-block;
  width: 32%;
  height: 50rem;
  text-align: left;
  border: 3px solid black;
  position: relative;
  background-position: center;
  transform: scale(0.98);
  transition: all 0.3s;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .setting {
    width: 60rem;
    max-width: 100%;
  }
  .setting:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.setting-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem;
  height: 100%;
  width: 100%;
}

.setting-image {
  height: 100%;
  background-position: center;
  filter: brightness(40%);
}

.setting:hover {
  transform: scale(1);
}

.setting h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.setting p {
  font-size: 2.5rem;
}

.settings-link {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  .setting p {
    font-size: 2rem;
  }
}
