.tour-form {
  padding: 2rem;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  color: white;
  margin: 5rem auto;
}

.tour-form h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.tour-form h2 {
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-size: 3rem;
  text-align: center;
}

.tour-form p {
  font-size: 2rem;
}

.form-cards {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-cards p {
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  align-self: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.form-control input,
.form-control textarea {
  border: 2px solid white;
  border-radius: 4px;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  width: 30rem;
  max-width: 100%;
  padding: 1rem;
  align-self: center;
  height: 100%;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  border: 2px solid var(--border-color);
}

.form-actions {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.form-actions button {
  margin: auto 2rem;
}

.form-inputs {
  display: flex;
  justify-content: space-around;
  background-color: grey;
  border: 2px solid white;
}
