.exhibit-card {
  color: white;
  position: relative;
  width: 20rem;
  height: 18rem;
  margin-bottom: 3rem;
  transition: all 0.3s;
  overflow: hidden;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  cursor: pointer;
}

.exhibit-card:hover {
  transform: scale(1.05);
}

.exhibit-image-box {
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}

.exhibit-image-box img {
  width: 100%;
  filter: brightness(60%);
  text-align: center;
}

.exhibit-text-box {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 100%;
  width: 100%;
}

.exhibit-text-box h3 {
  font-size: 2.5rem;
}

@media only screen and (max-width: 690px) {
  .exhibit-card {
    width: 15rem;
    height: 12rem;
  }
  .exhibit-text-box h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 390px) {
  .exhibit-card {
    width: 10rem;
    height: 9rem;
  }
}
