.user-profile {
  margin: 10rem 0;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  background-color: #dbdbdb;
  border-radius: 4px;
  max-width: 100%;
}

.user-profile-image-box {
  width: 40%;
  max-width: 100%;
}

.user-profile-image-box img {
  width: 100%;
  border: 2px solid black;
}

.user-profile-text-box {
  width: 50%;
  flex: 1;
  margin-left: 10rem;
  height: 100%;
  align-self: center;
}

.user-profile-text-box h1 {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 3px solid black;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.user-profile-text-box p {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.user-profile-text-box span {
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .user-profile {
    flex-direction: column;
    padding: 2rem;
    margin: 5rem 0;
  }
  .user-profile-image-box {
    width: 40rem;
    /* height: 33.5rem; */
    align-self: center;
    margin-bottom: 3rem;
  }
  .user-profile-text-box {
    width: 100%;
    margin: 0;
    align-self: center;
  }
  .user-profile-text-box h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .user-profile-text-box p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
