.comments-form {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  width: 45rem;
  max-width: 100%;
  color: white;
  background-color: var(--main-bg-color);
  margin: 2.5rem 0;
  border-radius: 4px;
}

.form-control {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control textarea {
  border: 2px solid white;
  border-radius: 4px;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  max-width: 100%;
  width: 30rem;
  height: 10rem;
  padding: 1rem;
  outline: none;
}

.form-control select {
  border: 2px solid white;
  display: flex;
  font-size: 1.5rem;
  padding: 0.5rem;
  justify-self: center;
  align-self: center;
  outline: none;
}

.form-control textarea:focus,
.form-control select:focus {
  border: 2px solid green;
}

.form-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 330px) {
  .form-control textarea {
    width: 50rem;
    margin-bottom: 2rem;
  }
}
