.settings-list {
  margin: 0 auto 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.setting-error {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.setting-error p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.setting-error a {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
  background-color: transparent;
  cursor: pointer;
}
