.setting {
  margin: 5rem 0;
}

.setting-image-box {
  border: 3px solid black;
  height: 60rem;
  overflow: hidden;
}

.setting-image-box img {
  width: 100%;
}

.setting-text-box h1 {
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}

.setting-text-box p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 740px) {
  .setting-text-box h1 {
    font-size: 3rem;
  }
  .setting-text-box p {
    font-size: 1.8rem;
  }
}

/* ===================================== */

.exhibit-box h2 {
  font-size: 3.5rem;
  border-bottom: 3px solid black;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.exhibit-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.exhibit-link a {
  color: white;
  position: relative;
  width: 36rem;
  height: 35rem;
  margin-bottom: 3rem;
  transition: all 0.3s;
  overflow: hidden;
  background-color: var(--main-bg-color);
  border-radius: 4px;
}

.exhibit-link a:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 1100px) {
  .setting-image-box {
    height: 50rem;
  }
}

@media only screen and (max-width: 740px) {
  .setting-image-box {
    height: 40rem;
  }
  .exhibit-box h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 605px) {
  .exhibit-link {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .setting-image-box {
    height: 30rem;
  }
}

@media only screen and (max-width: 450px) {
  .setting-image-box {
    height: 20rem;
  }
}
