.dropdown-nav {
  position: fixed;
  top: 6.8rem;
  transform: translateX(-45%);
  width: 15rem;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border-radius: 4px;
  z-index: 10;
  background-color: var(--main-bg-color);

  border: 3px solid black;
}

.dropdown li {
  margin: 0;
}

.dropdown-item {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdown-item:hover {
  background-color: gray;
  border-radius: 4px;
}

.dropdown-nav a {
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

.dropdown-nav a.active {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.dropdown-item button {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  font-size: 1.7rem;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .dropdown-nav {
    transform: translateX(-70%);
  }
}

@media only screen and (max-width: 768px) {
  .dropdown-nav {
    display: none;
  }
}
