.dropdown {
  position: absolute;
  top: 6.8rem;
  transform: translateX(-35%);
  width: 15rem;
  margin-left: 0;
  border-radius: 4px;
  z-index: 10;
  background-color: var(--main-bg-color);
  border: 3px solid black;
}

.dropdown li {
  margin: 0;
}

.dropdown-item {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdown-item:hover {
  background-color: gray;
  border-radius: 4px;
}

.dropdown a {
  color: var(--color-text);
}

.dropdown a.active {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.dropdown-item button {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  font-size: 1.7rem;
  cursor: pointer;
}
