.header {
  background-color: var(--main-bg-color);
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  min-height: 6.5rem;
}

.content {
  display: flex;
  justify-content: space-between;
}

.logo-box,
.logo-box a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-text);
  order: 0;
}

.hamburger-btn-box,
.profile-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-btn-box {
  order: 1;
}

.profile-btn-box {
  order: 3;
}

.icon {
  display: none;
  z-index: 10;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .icon {
    display: block;
  }
  .profile-btn-box {
    order: 0;
  }
  .logo-box {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .logo-box {
    align-self: flex-start;
  }
}
