.tour-link {
  display: inline-block;
  height: 20rem;
  width: 100%;
  background-color: var(--main-bg-color);
  border: 2px solid black;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.tour-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tour-name {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.tour-info {
  width: 40%;
  height: 100%;
  border-left: 2px solid white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tour-actions {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
}

.tour-actions button {
  margin: 2rem auto;
  width: 10rem;
  background-color: white;
  border: 2px solid green;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
