.toursTest {
  display: flex;
  width: 100%;
  transform: scale(0.98);
  transition: all 0.3s;
  border: 3px solid grey;
  border-radius: 4px;

  background: linear-gradient(
    to right,
    var(--main-bg-color),
    var(--color-text)
  );
}

.toursTest:hover {
  transform: scale(1);
}

.toursTest:not(:last-child) {
  margin-bottom: 3rem;
}

.tour-link {
  display: inline-block;
  height: 20rem;
  flex: 1;
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.tour-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tour-name {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.tour-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 0 2rem;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 30%;
}

.tour-actions {
  font-size: 2rem;
  height: 20rem;
  width: 15rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-left: 2px solid grey;
}

.tour-actions button {
  margin: 1rem auto;
}

.rating-stars {
  display: flex;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .tour-actions {
    padding: 1rem;
    width: 10rem;
  }
  .tour-info {
    padding: 0 1rem;
  }
}
