.tours-list-cards {
  margin-bottom: 5rem;
}

.tours {
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tour-error {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tour-error p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.tour-error a,
.tour-list a {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
  background-color: transparent;
  cursor: pointer;
}
