@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
  color: black;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}