/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* --main-bg-color: #26867c;
  --secondary-bg-color: #195953;
  --border-color: #40e0d0; */
  /* --main-bg-color: #545454; */

  /* --main-bg-color: rgb(43, 43, 43); */
  --main-bg-color: #2b2b2b;
  --secondary-bg-color: #151515;
  --border-color: #40e0d0;
  --color-text: #dc843a;
  /* rgb(43, 43, 43) */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  /* font-family: "Oswald", sans-serif; */
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: black;
}

ul {
  list-style: none;
}

button {
  font: inherit;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn-dropdown {
  border: none;
  font-size: 1.7rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

/* =========================== */

/* =========================== */

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.test {
  width: 100%;
}

.form-personal {
  flex: 1;
  align-self: center;
  max-width: 35rem;
}

.form-login {
  /* padding-left: 2rem; */
  max-width: 35rem;
}

.form-content {
  margin: 8rem auto;
  font-size: 1.8rem;
  color: white;
}

.form-signup {
  width: 73rem;
}

.form-signin {
  max-width: 35rem;
}

.form-content h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-content h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.form-content form {
  padding: 2rem 4rem;
  border-radius: 4px;
  background-color: var(--main-bg-color);
}

.form-control p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.form-question {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 2rem;
}

.form-content a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

.form-control label {
  align-self: flex-end;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  border: 2px solid white;
  border-radius: 4px;
  padding: 0 0.5rem;
  font: inherit;
  width: 30rem;
  max-width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.form-control input:focus {
  outline: none;
  border: 2px solid var(--border-color);
}

.form-control button {
  align-self: center;
  justify-self: center;
}

.invalid input:focus {
  border: 2px solid red;
}

.form-actions {
  text-align: center;
  margin: 1rem 0;
}

.form-actions button {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font: inherit;
  border: 2px solid gray;
  border-radius: 4px;
  margin-top: 1.5rem;
}
