.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-size: 2rem;
  padding: 2rem;
  background-color: lightblue;
  border-radius: 4px;
}

.form input,
.form textarea {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form button {
  align-self: center;
  font-size: 2rem;
}

.form-content {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
